.Recommendation-container{
    background: url('../assets/images/background.jpg');
    width: 100%;
    text-align: center;
    border: 1px solid black;
}
.Recommendation-text{
    color: #a9a9a9;
    padding: 10px;
    font-weight: bold;
    font-size: 1.5rem;
}
.first-text{
    margin-top: 100px;
}
.second-text{
    margin-top: 50px;
}
.Recommendation-bestmovies{
    display: flex;
    justify-content: center;
    padding: 20px;
}
/* 모달창 스타일링 */
.header, .body, .footer{
    padding: 5px;
}
.header{
    font-size: 1.2rem;
    font-weight: bold;
}
.body{
    font-size: 1rem;
    margin: 20px;
}
.body input{
    width: 60%;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 10px;
}
.footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}